<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lenovo.salestest">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".IntroActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LogInActivity"
            android:label="LogInActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".adminActivity"
            android:label="@string/title_activity_admin"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".userActivity"
            android:label="@string/title_activity_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".authenticateActivity"
            android:label="@string/title_activity_authenticate"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".makeUserActivity"
            android:label="@string/title_activity_make_user"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".restockActivity"
            android:label="@string/title_activity_restock"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".addItemActivity"
            android:label="@string/title_activity_add_item"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InitializeActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".firstAdminActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewActiveAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewInactiveAccountActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewSalesActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".InactiveList"
            android:label="@string/title_activity_inactive_list"
            android:parentActivityName=".ViewInactiveAccountActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.lenovo.salestest.ViewInactiveAccountActivity" />
        </activity>
        <activity
            android:name=".startActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".makeAccountActivity"></activity>
    </application>

</manifest>